# Terraform temporary files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*._override.tf
*._override.tf.json

# Ignore the terraform lock file
.terraform.lock.hcl
