name: 'Deploy to Main'

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

concurrency:
  group: terraform-state-lock
  cancel-in-progress: false

jobs:
  terraform:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::239409137076:role/github-actions"
          aws-region: us-east-1
          audience: sts.amazonaws.com
        continue-on-error: true

      - name: Verificar Role Assumida (Mesmo com Erro)
        if: failure() || success()
        env:
          AWS_ROLE_TO_ASSUME_ARN: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
        run: |
          echo "Tentativa de configuração falhou ou teve sucesso."
          echo "secrets.AWS_ROLE_TO_ASSUME_ARN: ${AWS_ROLE_TO_ASSUME_ARN}"
          echo "Role configurada para assumir: ${AWS_ROLE_TO_ASSUME_ARN}"
          echo "Logs do erro (se houver):"
          if [ -f /github/workflow/error.log ]; then
            cat /github/workflow/error.log
          else
            echo "Nenhum log de erro encontrado."
          fi

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve -input=false tfplan